extends login-layout
block content
    .container.mt-md-5.d-md-flex.align-items-center.mt-5(style="min-height: 70vh")
        .row.w-100.ml-0
            .row.w-100.ml-0.justify-content-center
                .col-md-6.col-sm-12.text-left.my-auto
                    .row.justify-content-center.text-success.p-3
                        h4 ecopool
                    .card.shadow.border-0
                        form.p-4(action="/login", method="POST")
                            div.form-group
                                input.form-control.text-center(autocomplete='login' name='login' required)
                                small.form-text login
                            div.form-group
                                input.form-control.text-center(type='password' name='password' required)
                                small.form-text password
                            div.d-flex
                                button.btn.btn-block.btn-success.text-white.mx-auto(type='submit') SIGN IN
