<template>
    <router-link
        class="navigation-item"
        :to="{name: pathName}"
        tag="button"
        exact>
        {{ title }}
    </router-link>
</template>

<script>
export default {
    name: "navigation-item",
    props: {
        pathName: String,
        title: String,
    }
}
</script>

<style scoped>

</style>