<template>
    <div class="sidebar">
        <navigation-item path-name="Dashboard" title="Dashboard" />
<!--        <navigation-item path-name="Plots" title="Plots" />-->
        <div class="disabled-navigation">
            <img class="closed" src="../../../assets/images/closed.png" alt="" />
            <span>Wallet</span>
            <br />
            <span class="notice">in developing</span>
        </div>
        <navigation-item path-name="Farm" title="Farm" />
        <button class="logout" @click="logout">
            Logout
        </button>
    </div>
</template>

<script>
import axios from 'axios';
import navigationItem from '/src/components/layout/sidebar/navigation-item';

export default {
    name: "sidebar",
    methods: {
        async logout () {
            axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/logout',
            }).then(resp => {
                console.log(resp);
                this.logoutHandler();
            }).catch(error => {
                console.log(error);
                this.logoutHandler();
            })
        },
        logoutHandler() {
            this.$store.commit('user/logout');
            this.$router.push('/login');
        }
    },
    components: {
        navigationItem
    }
}
</script>

<style lang="scss" scoped>
.logout {
    cursor: pointer;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    color: black;
    font-family: Arial, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    background: rgba(144, 147, 153, 0.25);
}
.disabled-navigation{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    color: black;
    line-height: 1;
    font-family: Arial, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    background: rgba($info, .7);
}
.notice {
    font-size: 14px;
    width: 100%;
}
.closed {
    margin-right: 15px;
    width: 18px;
    height: 18px;
}
</style>