<template>
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="card">
                <div class="title">
                    Total Network Space
                </div>
                <div class="description">
                    {{poolNetSpace}}
                </div>
            </div>
            <div class="card">
                <div class="title">
                    Total Size of Plots
                </div>
                <div class="description">
                    {{userNetSpace}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Dashboard",
    data() {
        return {
            poolNetSpace: '0 GiB',
            userNetSpace: '0 GiB',
            plotsCount: 12,
        }
    },
    computed: {
        token() {
            return this.$store.state.user.token;
        }
    },
    methods: {
        async getInfo() {
            axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/user/volume',
                data: {
                    token: this.token
                }
            })
            .then(resp => {
                if (resp.data.success) {
                    this.poolNetSpace = this.getPoolSize(resp.data.answer.pool);
                    this.userNetSpace = this.getPoolSize(resp.data.answer.user);
                } else {
                    console.error('some error has occured');
                }
            })
            .catch(error => {console.log(error)})
        },
        getPoolSize(size) {
            switch(0) {
                case Math.trunc(size / (1024 ** 3)):
                    return `${Number(size / (1024 ** 2)).toFixed(2)} MiB`
                case Math.trunc(size / (1024 ** 4)):
                    return `${Number(size / (1024 ** 3)).toFixed(2)} GiB`
                case Math.trunc(size / (1024 ** 5)):
                    return `${Number(size / (1024 ** 4)).toFixed(2)} TiB`
            }
        }
    },
    async mounted() {
        await this.getInfo();
    }
}
</script>

<style lang="scss" scoped>
.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .row {
        margin-bottom: 20px;
        display: flex;
    }
    .card {
        margin: 0 20px;
        min-width: 200px;
        padding: 20px;
        border-radius: 5px;
        background: $white;
        .title {
            margin-bottom: 10px;
        }
        .description {
        
        }
    }
}
</style>