<template>
    <div class="plots">
        <router-link :to="{name: 'PlotsCreate'}" class="create-button">
            <el-button type="success" >
                + Add Plots
            </el-button>
        </router-link>
        <div class="plots-table">
            <div>Plots</div>
            <el-table :data="tableData">
                <el-table-column prop="kSize" label="K-size" width="150"/>
                <el-table-column prop="queue" label="Queue name" />
                <el-table-column prop="status" label="Status" />
            </el-table>
        </div>
    </div>
</template>

<script>
export default {
    name: "Plots",
    data() {
        return {
            tableData: [
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
                // {kSize: 'K-32, 101.4 GiB', queue: 'default', status: '20%'},
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.plots {
    display: flex;
    flex-direction: column;
    height: 100%;
    .create-button {
        margin-left: auto;
    }
    .plots-table {
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        max-height: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 3px;
        background: $white;
    }
}
</style>
