<template>
    <div class="plots-create">
        <div class="card">
            <div class="header">Choose Plot Size</div>
            <div class="description">
                <el-select class="select" v-model="plotsSize.current" placeholder="K-size">
                    <el-option v-for="item in plotsSize.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"/>
                </el-select>
            </div>
        </div>
        <div class="card">
            <div class="header">Choose Number of Plots</div>
            <div class="description">
                <el-select class="select" v-model="plotsCount.current" placeholder="Plot Count">
                    <el-option v-for="item in plotsCount.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"/>
                </el-select>
<!--                <div class="radio-wrapper">-->
<!--                    <el-radio v-model="plottingType" :label="1">Plot in Parallel</el-radio>-->
<!--                    <el-radio v-model="plottingType" :label="2">Add Plot to Queue</el-radio>-->
<!--                </div>-->
                <div class="input-wrapper">
                    <label class="input-label">RAM max usage (MiB)</label>
                    <el-input class="number-input" v-model="ram" type="number"
                              :min="deviceMemory / 2" :max="deviceMemory" placeholder="RAM max usage">
                        <template #append>MiB</template>
                    </el-input>
                </div>
                <div class="input-wrapper">
                    <label class="input-label">Number of threads</label>
                    <el-input class="number-input" v-model="threads" type="number"
                              :min="deviceThreads / 2" :max="deviceThreads" placeholder="Number of threads" />
                </div>
                <div class="input-wrapper">
                    <label class="input-label">Number of buckets</label>
                    <el-input v-model="buckets" placeholder="Number of buckets" />
                </div>
<!--                <div class="input-wrapper">-->
<!--                    <label class="input-label">Queue Name</label>-->
<!--                    <el-input v-model="queue" placeholder="Queue Name" />-->
<!--                </div>-->
                <el-checkbox v-model="disableBitfield">Disable bitfield plotting</el-checkbox>
<!--                <el-checkbox v-model="folderExclude">Exclude final directory</el-checkbox>-->
            </div>
        </div>
        <div class="card">
            <div class="header">Select Temporary Directory</div>
            <div class="description">
                <el-input
                    v-model="temporaryPath"
                    placeholder="Temporary folder location" />
            </div>
        </div>
        <div class="card">
            <div class="header">Select Final Directory</div>
            <div class="description">
                <el-input v-model="finalPath" placeholder="Final folder location" />
            </div>
        </div>
        <el-button type="success" @click="onSubmit">
            CREATE PLOT
        </el-button>
    </div>
</template>

<script>

import axios from 'axios';

export default {
    name: "PlotsCreate",
    data() {
        return {
            plotsSize: {
                options: [
                    {value: 32, label: '101.4GiB (k=32, temporary space: 239GiB)'},
                    {value: 33, label: '208.8GiB (k=33, temporary space: 521GiB)'},
                    {value: 34, label: '429.8GiB (k=34, temporary space: 1041GiB)'},
                    {value: 35, label: '884.1GiB (k=35, temporary space: 2175GiB)'},
                ],
                current: ''
            },
            plotsCount: {
                options: [
                    {label: 1, value: 1},
                    {label: 2, value: 2},
                    {label: 3, value: 3},
                    {label: 4, value: 4},
                    {label: 5, value: 5},
                    {label: 6, value: 6},
                    {label: 7, value: 7},
                    {label: 8, value: 8},
                    {label: 9, value: 9},
                    {label: 10, value: 10},
                    {label: 11, value: 11},
                    {label: 12, value: 12},
                    {label: 13, value: 13},
                ],
                current: '',
            },
            plottingType: 2,
            ram: 0,
            threads: 2,
            buckets: 128,
            queue: 'default',
            folderExclude: false,
            disableBitfield: false,
            temporaryPath: '',
            finalPath: '',
        }
    },
    computed: {
        deviceMemory() {
            return navigator.deviceMemory * 1024;
        },
        deviceThreads() {
            return navigator.hardwareConcurrency;
        }
    },
    methods: {
        onSubmit() {
            const {
                plotsSize,
                plotsCount,
                ram = 4000,
                threads = 14,
                buckets = 128,
                queue = 'custom',
                temporaryPath = '/test/',
                finalPath = '/test-2/'
            } = this;

            axios({
                method: 'post',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/harvester/create-plot',
                data: {
                    plotParams: {
                        size: plotsSize.current || 32,
                        ram,
                        flows: threads,
                        count: plotsCount.current || 3,
                        buckets,
                        tempFolder: temporaryPath,
                        persistentFolder: finalPath,
                        queue
                    }
                }
            });
        }
    },
    mounted() {
        this.ram = this.deviceMemory / 2;
        this.threads = this.deviceThreads / 2;
    }
}
</script>

<style lang="scss" scoped>
.plots-create {
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    .card {
        margin-bottom: 20px;
        border-radius: 5px;
        background: $white;
        .header {
            padding: 20px;
            font-family: Arial, 'sans-serif';
            border-bottom: 1px solid lightgray;
        }
        .description {
            padding: 20px;
            & > * {
                margin-bottom: 20px;
            }
        }
        .select {
            min-width: 400px;
        }
        .input-wrapper {
            .input-label {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}
</style>
