<template>
    <form @submit.prevent="onSignUp">
        <el-input
                required
                :class="{'error': error.show}"
                class="input center"
                placeholder="enter your email"
                v-model="login"/>
        <el-input
                show-password
                required
                :class="{'error': error.show}"
                class="input center"
                placeholder="enter your password"
                v-model="password"/>
        <el-input
                show-password
                required
                :class="{'error': error.show}"
                class="input center"
                placeholder="repeat password"
                v-model="repeatPassword"/>
        <div v-if="error.show" class="error-text">
            {{error.text}}
        </div>
        <el-button
                class="button"
                type="success"
                native-type="submit">
                Sign up
            </el-button>
        <div class="description">OR</div>
    </form>
</template>

<script>

import axios from 'axios';

export default {
    name: 'RegistrationPage',
    data() {
        return {
            login: '',
            password: '',
            repeatPassword: '',
            error: {
                show: false,
                text: '',
            }
        }
    },
    computed: {
        passwordIsCorrect() {
            return this.password === this.repeatPassword;
        }
    },
    methods: {
        onSignUp() {
            const {
                login,
                password,
                repeatPassword
            } = this;

            if (password !== repeatPassword) {
                this.error.show = true;
                this.error.text = 'Password mismatch'
                return false;
            }

            axios({
                method: 'post',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/registration',
                data: {
                    login,
                    password
                }
            })
                .then(resp => {
                    if (resp.data.answer.token) {
                        if (resp.data.answer.checkChia) {
                            this.$store.commit('user/setPathStatus', resp.data.answer.checkChia);
                            this.$store.commit('user/setToken', resp.data.answer.token);
                            this.$router.push('/dashboard');
                        } else {
                            this.$store.commit('user/setToken', resp.data.answer.token);
                            this.$router.push('/request_chia_path');
                        }
                    } else {
                        this.error.show = true;
                        this.error.text = resp.data.answer.error || 'an error has occured, please contact support';
                    }
                })
                .catch(error => {
                    console.error(error);
                    this.error.show = true;
                    this.error.text = 'an error has occured, please contact support'
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.input {
    margin-bottom: 20px;
    .el-input__inner {
        text-align: center;
    }
}
.error-text {
    margin-bottom: 20px;
    text-align: center;
    color: $red;
}
.button {
    width: 100%;
}
.description {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: $info;
    font-size: 16px;
}
</style>
