.authorized-wrapper {
    display: flex;
    height: 100%;
    .sidebar {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        max-widtH: 300px;
        min-width: 250px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,#01796b,#5c7e23);
        .navigation-item {
            transition: all .4s linear;
            display: flex;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            color: $black;
            font-family: Arial, sans-serif;
            text-decoration: none;
            background: rgba($info, .25);
            &.router-link-active {
                background: rgba($white, .5);
            }
        }
    }
    .content {
        padding: 20px;
        width: 100%;
        height: 100%;
        background: $background;
    }
}