.unauthorized-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #0ba360 0, #3cba92);
    .page-content {
        width: 100%;
        min-width: 230px;
        max-width: 450px;
        min-height: 100px;
        padding: 20px;
        background: $white;
        border-radius: 15px;
        .logo-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .logo {
            max-width: 60px;
            max-height: 60px;
            width: 100%;
            height: 100%;
        }
        .logo-text {
            font-size: 30px;
        }
    }
}