<template>
    <transition name="fade" mode="out-in">
        <Authorized v-if="isAuth"></Authorized>
        <UnAuthorized v-else></UnAuthorized>
    </transition>
</template>

<script>
import {mapGetters} from 'vuex';
import Authorized from './layouts/Authorized';
import UnAuthorized from './layouts/UnAuthorized';

export default {
    name: 'App',
    computed: {
        ...mapGetters('user', ['isAuth']),
    },
    components: {
        Authorized,
        UnAuthorized,
    }
}

</script>
